{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/payment_approach">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
      How you’ll assess suppliers
      </h1>

      <h2 class="govuk-heading-l">
    Optional
      </h2>

      <p>All suppliers will have to provide a written proposal. However, you can also choose additional ways to assess them, if you want to.</p>

<p>Choose additional ways to assess suppliers.</p>

<p>You can only use the methods you choose here, eg if you don’t select a case study now, you won’t be able to ask for one later.
</p>

<p>Read about assessment methods.</p>

<p>Case study</p>

<p>
A case study is a good way to see the work suppliers have done before. It can help you understand whether the people who’ll be working on your project have the right skills and experience.
</p>

<p>Work history</p>

<p>A work history lists the previous work a supplier has done. It should give you a view of the skills and experience of the team members who’ll be working on your project.

</p>

<p>Reference</p>

<p>A written reference is a good way of confirming whether a supplier has done the work they’ve said they’ve done. You should always ask for references that relate to a specific timeframe, eg work they’ve done in the last 2 years.</p>

<p>Presentation</p>


<p>A presentation can help you understand a supplier’s approach to delivering an outcome, eg a practical demonstration of a prototype or discovery kick-off meeting.</p>
    </div>
  </div>

  <form class="form" action="/describe_question" method="post">
  <button class="govuk-button" data-module="govuk-button">
Save and continue
  </button>

{% endblock %}
