{% extends "layout.html" %}

{% block pageTitle %}
  {{ data['requirements-name'] | default('Your requirements', true) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Digital Marketplace",
        href: "#"
      },
      {
        text: "Your account",
        href: "#"
      },
      {
        text: "Your requirements",
        href: "#"
      },
      {
        text: (data['requirements-name'] | default('Your requirements', true))
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ data['requirements-name'] | default('Your requirements', true)}}
      </h1>

      <h2 class="govuk-heading-m">1. Write requirements</h2>

      <p> Before you can publish your requirements, you must complete:</p>

      <ol class="govuk-list">
        <li>
        <a href="/name_your_requirements">Title</a>
        </li>
        <li>
        <a href="/location">Location</a>
        </li>
        <li>
        <a href="/description_of_work">Description of work</a>
        </li>
      </ol>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">2. Set how you’ll evaluate suppliers</h2>

      <p>Before you can publish your requirements, you must complete:</p>

      <ol class="govuk-list">
        <li>
        <a href="/evaluation_process">Shortlist and evaluation process</a>
        </li>
      </ol>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">3. Publish requirements</h2>

      <ol class="govuk-list">
        <li>
        <a href="/evaluation_process">Describe question and answer session</a>
        </li>
        <li>
        <a href="/evaluation_process">Preview your requirements</a>
        </li>
        <li>
        <a href="/evaluation_process">Publish your requirements</a>
        </li>
      </ol>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">4. Answer supplier questions </h2>

      <p>
      When you’ve published your requirements, you must answer all supplier questions.
      </p>

      <p>
      <a href="#">How to answer supplier questions</a>
      </p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">5. Shortlist </h2>

      <p>
      After the application deadline, shortlist the suppliers who applied.
      </p>

      <p>
      <a href="#">How to shortlist suppliers</a>
      </p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">6. Provide supplier feedback </h2>

      <p>
      Tell suppliers if they have not been shortlisted and explain why they
      didn’t meet the requirements. <a href="#">There are template emails you
      can use to give feedback to unsuccessful suppliers</a>.
      </p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">7. Evaluate </h2>

      <p>
      Evaluate your shortlist using the criteria and methods you published with
      your requirements. You should be able to <a href="#">demonstrate a clear
      audit trail</a>, including any questions you’ve answered and any
      evaluation you’ve made.
      </p>

      <ul class="govuk-list">
        <li>
          <a href="#">How to evaluate suppliers</a>
        </li>
        <li>
          <a href="#">How to buy fairly</a>
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">8. Award contract </h2>

      <p>
      You must give your chosen supplier a contract before they start work.
      </p>

      <ul class="govuk-list">
        <li>
        <a href="#">How to award a contract</a>
        </li>
        <li>
        <a href="#">Download the Digital Outcomes and Specialists 4 contract</a>
        </li>
        <li>
        <a href="#">How to manage a contract</a>
        </li>
      </ul>

    </div>
  </div>

{% endblock %}
