{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/name_your_requirements">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Overview</h1>

      <h2 class="govuk-heading-m">1. Write requirements</h2>

<p> Before you can publish your requirements, you must complete:</p>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Title
          </dt>
          <dd class="govuk-summary-list__value">

          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Location
          </dt>
          <dd class="govuk-summary-list__value">

          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Description of work
          </dt>
          <dd class="govuk-summary-list__value">

            <br>
            <br>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change

            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">2. Set how you’ll evaluate suppliers</h2>

<p>Before you can publish your requirements, you must complete:</p>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Shortlist and evaluation process

          </dt>
          <dd class="govuk-summary-list__value">

          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
            </a>
          </dd>
            </div>
      </dl>

  <h2 class="govuk-heading-m">  3.Publish requirements </h2>

  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Describe question and answer session

      </dt>
      <dd class="govuk-summary-list__value">

      </dd>
      <dd class="govuk-summary-list__actions">
        <a href="#">
          Change
        </a>
      </dd>
        </div>
  </dl>
  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Preview your requirements

      </dt>
      <dd class="govuk-summary-list__value">

      </dd>
      <dd class="govuk-summary-list__actions">
        <a href="#">
          Change
        </a>
      </dd>
        </div>
  </dl>
  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Publish your requirements

      </dt>
      <dd class="govuk-summary-list__value">

      </dd>
      <dd class="govuk-summary-list__actions">
        <a href="#">
          Change
        </a>
      </dd>
        </div>
  </dl>

  <h2 class="govuk-heading-m">4. Answer supplier questions </h2>

  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        When you’ve published your requirements, you must answer all supplier questions.
  How to answer supplier questions


      </dt>
      <dd class="govuk-summary-list__value">

      </dd>
      <dd class="govuk-summary-list__actions">
        <a href="#">
          Change
        </a>
      </dd>
        </div>
  </dl>

  <h2 class="govuk-heading-m">5. Shortlist </h2>

  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        After the application deadline, shortlist the suppliers who applied.
  How to shortlist suppliers



      </dt>
      <dd class="govuk-summary-list__value">

      </dd>
      <dd class="govuk-summary-list__actions">
        <a href="#">
          Change
        </a>
      </dd>
        </div>
  </dl>


  <h2 class="govuk-heading-m">6. Provide supplier feedback </h2>

  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Tell suppliers if they have not been shortlisted and explain why they didn’t meet the requirements. There are template emails you can use to give feedback to unsuccessful suppliers.



      </dt>
      <dd class="govuk-summary-list__value">

      </dd>
      <dd class="govuk-summary-list__actions">
        <a href="#">
          Change
        </a>
      </dd>
        </div>
  </dl>

  <h2 class="govuk-heading-m">7. Evaluate </h2>

  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Evaluate your shortlist using the criteria and methods you published with your requirements. You should be able to demonstrate a clear audit trail, including any questions you’ve answered and any evaluation you’ve made.
  How to evaluate suppliers
  How to buy fairly

      </dt>
      <dd class="govuk-summary-list__value">

      </dd>
      <dd class="govuk-summary-list__actions">
        <a href="#">
          Change
        </a>
      </dd>
        </div>
  </dl>

  <h2 class="govuk-heading-m">8. Award contract </h2>

  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        You must give your chosen supplier a contract before they start work.
  How to award a contract
  Download the Digital Outcomes and Specialists 4 contract
  How to manage a contract


      </dt>
      <dd class="govuk-summary-list__value">

      </dd>
      <dd class="govuk-summary-list__actions">
        <a href="#">
          Change
        </a>
      </dd>
        </div>
  </dl>

      <h2 class="govuk-heading-m">Now send your application</h2>

      <p>By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>




    </div>
  </div>

  <form class="form" action="/where" method="post">
  <button class="govuk-button" data-module="govuk-button">
Save and continue
  </button>
</form>
{% endblock %}
