{% extends "layout.html" %}

{% block pageTitle %}
  This is not an outside IR35 requirement
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        This is not an outside IR35 requirement
      </h1>

      <p>
      Find contractors and interim staff through:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="#">
          Public Sector Resourcing
          </a>
        </li>
        <li>
          <a href="#">
          Management Consultancy Framework
          </a>
        </li>
        <li>
          <a href="#">
          Non Clinical Temporary and Fixed Term Staff
          </a>
        </li>
        <li>
          <a href="#">
          Management Consultancy Framework Two
          </a>
        </li>
      </ul>

    </div>
  </div>
{% endblock %}
