{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/ir35">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        What you want to call your requirements
      </h1>

      <p>
      The title is the first line to appear on the supplier opportunities page
      on the Digital Marketplace. It should be a clear statement of your key
      requirement. It can contain a reference - eg ABC123 - to help you refer
      to your requirements when talking to suppliers.
      </p>

      <form class="form" action="/check-your-answers_dmp" method="post">

      {{ govukInput({
        id: "requirements-name",
        name: "requirements-name",
        hint: {
          text: "100 characters maximum"
        }
      }) }}

      <button class="govuk-button" data-module="govuk-button">
      Save and continue
      </button>
</form>

{% endblock %}
