{% extends "layout.html" %}

{% block pageTitle %}
  Find a team to provide an outcome
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Digital Marketplace</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Find a team to provide an outcome</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Find a team to provide an outcome
      </h1>

      <p>You can use the Digital Marketplace to find a team to work on a digital outcome, programme or service - such as a new integrated website, strategic delivery programme or an accessibility audit.</p>
      <p>You need to write ‘requirements’ to describe the situation or problem and ask suppliers to propose a solution and provide a team.</p>
      <p>
The members of the team can’t work for you outside the scope of your written requirements.
</p>


      <h2 class="govuk-heading-m">Before you start</h2>

      <p>
        General tip: make sure your account login and associated contact email
        is available to colleagues so they can act on your behalf in case of
        absence. If you do not do this, your requirements will not be
        accessible and you may miss important deadlines.
      </p>

      <ol class="govuk-list govuk-list--number">
        <li>
          <p>
          You can <a href="#">talk to suppliers before you start</a> to help refine your
          requirements. This is sometimes called early market engagement or
          ‘pre-tender market engagement’ (PTME).
          </p>

          <p>
          Contact us at <a href="#">cloud_digital@crowncommercial.gov.uk</a>
          for the current list of supplier contact details.
          </p>

          <p>
          <a href="#">Read more about pre-tender market engagement</a>.
          </p>
        </li>

        <li>
          <p>
          Get budget approval before you start the buying process.
          </p>

          <p>
          If you’re buying for central government, you have to go through the
          <a href="#">digital and IT spend control process</a> before you publish your
          requirements on the Digital Marketplace.
          </p>

          <p>
          If you’re buying for a public sector organisation outside of central
          government, you must get any internal approval you need.
          </p>
        </li>

        <li>
          <p>
          Check the IR35 status of your proposed engagement by using the HMRC
          <a href="#">Check employment status for tax</a> (CEST) tool.
          </p>

          <p>
          When using the CEST tool the term worker should be considered as the
          supplier.
          </p>

          <p>
          Only engagements that fall outside IR35 can be procured using the
          Digital Outcomes and Specialists framework.
          </p>

          <p>
          You should keep a copy of the CEST determination for your records.
          </p>
        </li>

        <li>
          <p>
          Plan the end-to-end procurement timetable taking into account any
          security clearance lead times and the availability of internal
          resource for evaluators and moderators at the shortlisting and
          evaluation stages.
          </p>
        </li>

        <li>
          <p>
          Contact us at <a href="#">cloud_digital@crowncommercial.gov.uk</a>
          for assistance in checking your draft requirements or with any
          queries you may have.
          </p>
        </li>
      </ol>

      <h2 class="govuk-heading-m">Write and publish your requirements</h2>

      <ol class="govuk-list govuk-list--number" start="6">
        <li>
          <p>
          <a href="#">Write your requirements</a> and say how you’re going to
          evaluate suppliers using a range of criteria.
          </p>
        </li>
        <li>
          <p>
            Review then publish your requirements and evaluation criteria so
            suppliers can apply for the work. This information will be
            published on the Digital Marketplace where anyone can see it.
            Suppliers will have two weeks to respond to your essential and
            nice-to-have criteria.
          </p>
        </li>
      </ol>

      <h2 class="govuk-heading-m">Answer supplier questions</h2>

      <ol class="govuk-list govuk-list--number" start="8">
        <li>
          <p>
            Post all supplier questions and answers on the Digital Marketplace
            promptly. Answer all questions at least one working day before the
            deadline to give suppliers time to decide if the work is right for
            them.
          </p>
        </li>
      </ol>

      <h2 class="govuk-heading-m">Shortlist and evaluate suppliers</h2>

      <ol class="govuk-list govuk-list--number" start="9">
        <li>
          <p>
          Create your shortlist by reviewing and scoring the ‘essential’ and
          ‘nice-to-have’ skills and experience provided by suppliers against
          your published criteria. This information will be sent to you
          automatically by the Digital Marketplace in a CSV file once the
          deadline has passed. You will review and score outside the Digital
          Marketplace using your own systems or processes.
          </p>
        </li>

        <li>
          <p>
          Give feedback to suppliers who have not been shortlisted and explain
          why they didn’t meet the requirements.
          </p>
        </li>

        <li>
          <p>
          Invite shortlisted suppliers to the assessment stage. You must only
          use the assessment methods you said you’d use when you published your
          requirements.
          </p>
        </li>

        <li>
          <p>
          Evaluate written proposals and your chosen additional assessment
          methods to find the right supplier for your needs. The evaluation
          process is conducted outside the Digital Marketplace to a format and
          timetable of your choosing and has to be fair, open and transparent.
          </p>
        </li>
      </ol>

      <h2 class="govuk-heading-m">Award contract</h2>

      <ol class="govuk-list govuk-list--number" start="13">
        <li>
          <p>
          Award a contract to the supplier that best meets your needs and give
          feedback to unsuccessful suppliers. A standstill period is not
          required but is recommended to deal with any supplier queries or
          challenges.
          </p>
        </li>

        <li>
          <p>
          You must publish details of all completed contracts on Contracts
          Finder and update the Digital Marketplace with details of your award
          (or cancellation of requirements if you have not been able to find a
          suitable supplier).
          </p>
        </li>
      </ol>

      <p>
      The buying process should take around 6-8 weeks depending on your own
      internal governance and resource availability.
      <p>

      <p>
      Read more about:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="#">how to buy</a>
        </li>
        <li>
          <a href="#">how suppliers have been evaluated</a>
        </li>
      </ul>


      <a
        href="/name_your_requirements"
        role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>


  </div>


{% endblock %}
