{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/budget_range">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
      Summary
      </h1>



      <p>This will appear on the supplier opportunities page on the Digital Marketplace. It will help suppliers decide whether or not to view your detailed requirements.
</p>

<p>50 words remaining
</p>




      <div class="govuk-form-group">
    <label class="govuk-label" for="event-name">

    </label>
    <input class="govuk-input" id="event-name" name="event-name" type="text">
  </div>
    </div>
  </div>

  <form class="form" action="/evaluation_process" method="post">
  <button class="govuk-button" data-module="govuk-button">
Save and continue
  </button>
{% endblock %}
