{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/evaluation_weighting">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
      Technical competence criteria
      </h1>

<p>Technical competence is how well the supplier can do the work you need them to do.
</p>
      <h2 class="govuk-heading-m">
        Evaluate suppliers’ technical competence using criteria for:

      </h2>

      <ul>
        <li>essential skills and experience</li>
        <li>  nice-to-have skills and experience</li>
        <li>    proposal</li>

      </ul>


      <h2 class="govuk-heading-m">
        Individual criteria weighting (optional)

      </h2>


      <p>You can give a weighting to individual criteria, eg ‘have experience designing services for users with low digital literacy – (5%) or (15 points)’. If you choose to add a weighting, you must do it for all individual criteria.</p>

        <p>The weighting is simply added as text at the end of your defined criteria.</p>

        <p>Unless you have asked for several examples, you should not score a supplier higher or lower because they give more or less examples than another supplier.</p>

        <p>The points you give for nice-to-have skills and experience must be lower than the points you give for essential skills and experience and proposal criteria.</p>

        <p>You should keep the majority of the weighting for the proposal, as it is within this that the supplier will answer how they propose to fulfil your outcome.</p>

<p> Read how to score individual criteria.</p>
          <h2 class="govuk-heading-m">Essential skills and experience</h2>

          <p>When suppliers apply they declare which of your essential skills and experience they have. Suppliers who don’t meet your essential skills and experience are excluded.When suppliers apply they declare which of your essential skills and experience they have. Suppliers who don’t meet your essential skills and experience are excluded.

<p>List all the specific skills or experience the supplier must have,
eg have experience designing services for users with low digital literacy.</p>

<p>The more specific you can be with these criteria, the easier it will be to find a supplier who meets your needs. Remember - it is the essential criteria which will largely determine your shortlist.</p>

<p>Does a supplier just need experience or a minimum amount? eg a minimum of 2 years recent experience </p>

<p>It is discriminatory to suppliers to state that they must have previous experience working in the public sector or within your specific industry.</p>

<p>What is it about the public sector that requires specific skills or experience? Suppliers may have worked for complex commercial organisations which are highly regulated (eg financial or pharmaceutical) and could therefore demonstrate the required skills and experience within a different environment.</p>


  <h2 class="govuk-heading-m">
  The supplier must:
  </h2>

  <p>(20 criteria available)</p>

  <h2 class="govuk-heading-m">
  Nice-to-have skills and experience
  </h2>

  <h2 class="govuk-heading-m">
  Optional
  </h2>

  <p>If too many suppliers have all the essential skills and experience, use the nice-to-have skills and experience to exclude suppliers.</p>

  <p>List the skills and experience you’d like the supplier to have,
  eg provide evidence of delivering at scale.</p>

  <p>It is discriminatory to suppliers to state that they should have previous experience working in the public sector or within your specific industry.</p>

  <h2 class="govuk-heading-m">
  The supplier can:
  </h2>

  <p>(20 criteria available)</p>

  <h2 class="govuk-heading-m">
  Proposal criteria
  </h2>

  <p>When you evaluate shortlisted suppliers on the technical competence of their proposal, you must use the criteria you list here.</p>
<p>Suggested criteria</p>
<li>Technical solution
<li>Approach and methodology</li>
<li>How the approach or solution meets user needs</li>
<li>How the approach or solution meets your organisation’s policy or goal</li>
<li>Estimated timeframes for the work</li>
<li>How they’ve identified risks and dependencies and offered approaches to manage them</li>
<li>Team structure
<li>Value for money</li>
<p>(20 criteria available)</p>

<form class="form" action="/culture_fit" method="post">
<button class="govuk-button" data-module="govuk-button">
Save and continue
</button>



  </div>



{% endblock %}
